body {
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: #ff99cc; /* Mild pink color for headings */
}

.container {
    padding: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spacing between images */
    justify-content: left;
}

.button-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    color: #ff99cc; /* Mild pink color for headings */
    background-color: #121212; /* Dark background */
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    margin: 1em 0;
    font-size: 1rem;
}

.price-filter-input {
    box-sizing: border-box;
    width: 100%;
    max-width: 200px;
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1rem;
}

.card-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.card-table th,
.card-table td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

.card-table tr:hover {
    background-color: #f8f8f8;
}

.card-table td.truncate {
    max-width: 200px; /* or whatever fits your layout */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
